// <========== INFORMATION SECTION ==========>
.backgroundImageContactInfoWDAB {
	display: flex;
	padding: 5rem 0;
	margin-top: 5rem;
	height: fit-content;
	align-items: center;
	background: url("/img/thomas-ae-SRaLWJWN_NE-unsplash.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.content {
		display: flex;

		flex-direction: column;
		grid-row-gap: 2rem;

		.title {
			display: flex;
			flex-direction: column;

			h2 {
				color: $baseColor_white;
				font-size: $fontSize_large;
				font-family: $fontStyle_option1;
			}

			a {
				margin-top: 0.5rem;
				color: $baseColor_white;
				font-size: $fontSize_normal;
				font-family: $fontStyle_header;

				span:hover {
					color: $secondary_fadedPink;
				}
			}

			h5 {
				margin-top: 0.5rem;
				color: $baseColor_white;
				font-size: $fontSize_normal;
				font-family: $fontStyle_header;
			}
		}

		.button {
			margin-top: 1rem;

			a {
				margin-top: 1rem;
				font-weight: 700;
				letter-spacing: 0.1rem;
				color: $baseColor_black;
				text-transform: uppercase;
				font-size: $fontSize_xSmall;
				font-family: $fontStyle_header;

				button {
					border: none;
					padding: 1rem 1.25rem;
					background-color: $baseColor_white;
				}

				&:hover {
					color: $baseColor_lightGrey;
				}
			}
		}
	}
}
