// Imports
@import "../colors";

.alterationsRepairs {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $darkPink;
	background-image: linear-gradient(
			0deg,
			rgba(106, 78, 247, 0.85),
			rgba(92, 61, 249, 0.5)
		),
		url("/svg/w.svg");
}
