// Imports
@import "../colors";

.alterationsRepairs {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $blue;
	background-image: linear-gradient(
			0deg,
			rgba(36, 14, 149, 0.85),
			rgba(36, 14, 149, 0.5)
		),
		url("/svg/w.svg");
}
