.contactBanner,
.contactBannerTwo,
.contactBannerThree {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

// <========== CONTACT US BANNER ==========>
.contactBanner {
	padding: 5rem 2rem;
}

// <========== CONTACT US BANNER TWO ==========>
.contactBannerTwo {
	padding: 7.5rem 5rem;
}

// <========== CONTACT US BANNER THREE ==========>
.contactBannerThree {
	padding: 5rem;
}
