.contactBannerTwo,
.contactBannerThree {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	button {
		a {
			padding: 1.5rem 3.5rem;
		}
	}

	/* Screen (1024px) */
	@media screen and (max-width: 1024px) {
		button {
			a {
				padding: 1rem 1.5rem;
			}
		}
	}
}

// <========== CONTACT US BANNER TWO ==========>
.contactBannerTwo {
	padding: 7.5rem 5rem;
}

// <========== CONTACT US BANNER THREE ==========>
.contactBannerThree {
	padding: 5rem;
}
