// Imports
@import "../fonts";
@import "../colors";

// <========== CONTACT US BANNER ==========>
.contactBanner {
	padding: 5rem 2rem;
	a,
	p {
		color: $baseColor_white;
		font-family: $fontStyle_body;
	}
}

.contactBannerTwo {
	.button {
		a {
			font-weight: 500;
			padding: 1rem 2.5rem;
			color: $baseColor_white;
			font-size: $fontSize_normal;
			font-family: $fontStyle_header;
			background-color: $secondary_fadedPink2;

			&:hover {
				transition: all 0.5s ease-in-out;
				background-color: $secondary_fadedPink;
			}
		}
	}
}
