.heroSection,
.heroSectionTwo {
	@apply bg-white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.heroSectionTwo {
	height: 70vh;
	display: flex;
	align-items: center;
}
