// Imports
@import "../fonts";
@import "../colors";

.heroSectionTwo {
	height: 90vh;
	display: flex;
	align-items: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	h2 {
		font-family: $fontStyle_option1;
	}

	p {
		font-family: $fontStyle_body;
	}
}
