.imageTextBulletPoints {
	padding: 3.5rem 0;

	.Image {
		-webkit-clip-path: polygon(
			75% 0%,
			100% 50%,
			75% 100%,
			0% 100%,
			25% 50%,
			0% 0%
		);
		clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
	}
}
