// Imports
@import "../fonts";
@import "../colors";

// <========== NAVIGATION ==========>
.Navbar {
	padding: 0.5rem 0;
	background-color: $fadedPink3;
	border-bottom: $pink 0.25rem solid;

	h2 {
		font-family: $fontStyle_main;
	}

	a {
		font-family: $fontStyle_main;
	}
}
