// Imports
@import "../fonts";
@import "../colors";

// <========== OUR PROCESS ==========>
.ourProcess {
	h2 {
		font-family: $fontStyle_option1;
	}

	p {
		font-family: $fontStyle_body;
	}
}

.singleCard {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	h2 {
		font-family: $fontStyle_option1;
	}

	p {
		font-family: $fontStyle_header;
	}
}
