// Imports
@import "../fonts";
@import "../colors";

.singleCardTwo {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;

	a {
		color: $baseColor_black;
		font-family: $fontStyle_secondary;
	}

	img {
		&:hover {
			transition: all 1s;
			transform: scale(1.02);
		}
	}
}
