// Imports
@import "../fonts";
@import "../colors";

/* ===== SPECIAL OCCASIONS =====*/
.specialOccasions {
	padding: 1rem 0;
	background-color: #f8f8f8;

	h2 {
		font-family: $fontStyle_option1;
	}

	p {
		font-family: $fontStyle_header;
	}

	a {
		font-family: $fontStyle_body;
	}
}
