// Imports
@import "../fonts";
@import "../colors";

.storeLocation {
	.title {
		padding: 2.5rem 0;

		h2 {
			color: $baseColor_black;
			font-size: $fontSize_4XL;
			font-family: $fontStyle_option1;
		}

		h5 {
			margin-top: 1.5rem;
			color: $baseColor_black;
			font-size: $fontSize_normal;
			font-family: $fontStyle_option1;
		}
	}

	.storeMap {
	}
}
