// Imports
@import "../fonts";
@import "../colors";

.textImage,
.textImageTwo,
.textImageJumbo {
	padding: 5rem 0;

	h2 {
		font-family: $fontStyle_main;
	}

	h5 {
		font-family: $fontStyle_main;
	}

	p {
		font-family: $fontStyle_secondary;
	}
}

.textImageJumbo {
	padding: 2.5rem 0;

	h2 {
		font-family: $fontStyle_main;
	}

	a {
		font-family: $fontStyle_secondary;
	}
}

.textImageCard {
	img {
		width: 100%;
		height: 250px !important;
	}
}
