// Imports
@import "../fonts";
@import "../colors";

.textImage,
.textImageTwo,
.textImageJumbo {
	padding: 5rem 0;
}

.textImageJumbo {
	padding: 2.5rem 0;
}

.textImageCard {
	img {
		width: 100%;
		height: 250px !important;
	}
}
