// Imports
@import "../fonts";
@import "../colors";

.titleParagraphGridContent {
	padding: 5rem 0;
	overflow: hidden;

	h2,
	h5 {
		font-family: $fontStyle_main;
	}

	p {
		font-family: $fontStyle_secondary;
	}
}
