// Imports
@import "../colors";

.titleGridContent,
.titleGridContentTwo {
	@apply py-8 bg-white;

	a {
		color: $baseColor_white;

		&:hover {
			transition: all 0.5s ease-in-out;
			color: $yellow;
		}
	}
}

.titleGridContent {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.titleGridContentTwo {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $darkPink;
	background-image: linear-gradient(
			0deg,
			rgba(149, 14, 59, 0.85),
			rgba(221, 69, 119, 0.5)
		),
		url("/svg/w.svg");
}
