// Imports
@import "../fonts";
@import "../colors";

.TitleGridContentTwo {
	overflow: hidden;
	background-color: $baseColor_black;

	.content {
		display: flex;
		padding: 0 2rem;
		flex-direction: column;

		.title {
			padding: 2rem 0;

			padding-top: 5rem;

			h2 {
				color: $baseColor_white;
				font-size: $fontSize_4XL;
				font-family: $fontStyle_option1;
			}

			h5 {
				margin-top: 1rem;
				font-weight: 500;
				color: $baseColor_white;
				font-size: $fontSize_normal;
				font-family: $fontStyle_header;
			}
		}
	}
}
