// Imports
@import "../fonts";
@import "../colors";

.titleParagraphGridContent {
	padding: 5rem 0;
	overflow: hidden;

	h2 {
		font-family: $fontStyle_option1;
	}

	h5 {
		font-family: $fontStyle_header;
	}
}
