// Imports
@import "../fonts";
@import "../colors";

.titleGridContent {
	padding: 1rem 0;

	h2 {
		font-family: $fontStyle_option1;
	}

	h5 {
		font-family: $fontStyle_header;
	}

	a,
	p {
		font-family: $fontStyle_body;
	}
}

.TitleGridContentTwo {
	background-color: $baseColor_black;

	h2 {
		font-family: $fontStyle_option1;
	}

	h5 {
		font-family: $fontStyle_header;
	}

	a {
		color: $baseColor_white;
		font-family: $fontStyle_body;
	}
}
