// Imports
@import "../colors";

.titleParagraphThree {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $darkPink;
	background-image: linear-gradient(
			0deg,
			rgba(149, 14, 59, 0.85),
			rgba(221, 69, 119, 0.5)
		),
		url("/svg/w.svg");
}

.titleParagraphFour {
	p {
		strong {
			color: $baseColor_black;
			text-transform: uppercase;
		}
	}

	ul {
		gap: 0.5rem;
		display: flex;
		flex-direction: column;
		padding-left: 2.5rem;

		li {
			list-style: disc;
			list-style-type: disc;
		}
	}
}
