// Imports
@import "../fonts";
@import "../colors";

/* ===== SPECIAL OCCASIONS =====*/
.twoOptions {
	padding: 1rem 0;
	background-color: #f8f8f8;

	h2,
	p,
	a {
		font-family: $fontStyle_main;
	}
}
