// Colors Variables
$baseColor_white: #fff;
$baseColor_black: #111;
$baseColor_lightGrey: #c1c1c1;
$baseColor_lightBlack: #292929;

// Main Colors
$Pink: #dd4577;
$blue: #2563eb;
$yellow: #ffc915;
$darkPink: #950e3b;
$fadedPink: #ff8fb4;
$fadedPink2: #fcbfd4;
$fadedPink3: #f2739d;
$fadedYellow: #f3d162;
