// Colors Variables
$baseColor_white: #fff;
$baseColor_black: #111;
$baseColor_grey: #b3b3b3;
$baseColor_darkGrey: #8f8f8f;
$baseColor_lightGrey: #f5f5f5;
$baseColor_lightBlack: #292929;

// Main Colors
$pink: #dd4577;
$babyBlue: #5ac3ff;
$blue: #2563eb;
$yellow: #ffc915;
$darkPink: #950e3b;
$fadedPink: #ff8fb4;
$fadedPink2: #fcbfd4;
$fadedPink3: #f2739d;
$fadedYellow: #f3d162;
