// Colors Variables
$baseColor_white: #fff;
$baseColor_black: #111;
$baseColor_lightGrey: #c1c1c1;
$baseColor_lightBlack: #292929;

// Main Colors
$secondary_Pink: #dd4577;
$secondary_darkPink: #950e3b;
$secondary_fadedPink: #ff8fb4;
$secondary_fadedPink2: #fcbfd4;
$secondary_fadedPink3: #f2739d;
