/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Sarabun:wght@200&display=swap");

// Font Stack Properties
$fontStyle_header: "Open Sans", sans-serif;
$fontStyle_body: "Sarabun", sans-serif;
$fontStyle_option1: "Lora", sans-serif;

// Font Sizes
$fontSize_xSmall: 0.75rem;
$fontSize_small: 0.8rem;
$fontSize_tiny: 0.9rem;
$fontSize_normal: 1rem;
$fontSize_medium: 1.25rem;
$fontSize_large: 1.5rem;
$fontSize_XL: 1.5rem;
$fontSize_2XL: 1.75rem;
$fontSize_3XL: 1.85rem;
$fontSize_4XL: 2rem;
$fontSize_5XL: 3rem;
$fontSize_6XL: 4rem;
$fontSize_7XL: 5rem;
