// Imports
@import "./fonts";
@import "./colors";

// Components Styling
@import "./components/ContactInfoMap";
@import "./components/WeddingDressesAndBridal/ContactInfo.scss";

// Pages Styling
@import "./pages/ourStory";
@import "./pages/_AlterationsRepairs.scss";
@import "./pages/SuitsOxfordShirts/_suitsOxfordShirts";
@import "./pages/WeddingDressesAndBridal/_WeddingDressesBridal";
@import "./pages/LaundryAndDryCleaning/_LaundryDryCleaning";
@import "./pages/LaundryAndDryCleaning/pages/_IndividualService";
@import "./pages/LaundryAndDryCleaning/pages/_businessService";

// <========== FOOTER ==========>
.footer {
	margin-top: 5rem;
	padding: 1rem 0;
	border-top: $baseColor_lightGrey 0.015rem solid;

	.content {
		.topSection {
			.content {
				display: grid;
				padding: 1rem 0;
				grid-template-columns: repeat(3, 1fr);
				grid-column-gap: 1.5rem;

				.emailSignUp {
					display: flex;
					padding: 0 0.5rem;
					flex-direction: column;

					h2 {
						color: $baseColor_black;
						font-size: $fontSize_normal;
						font-family: $fontStyle_header;
					}

					p {
						margin-top: 1rem;
						color: $baseColor_black;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_body;
					}
				}

				.signUp {
					margin: auto 0;
					display: flex;

					input {
						width: 350px;
						height: 100%;
						padding: 0.5rem;
						padding-top: 0.75rem;
						color: $baseColor_black;
						font-size: $fontSize_small;
						font-family: $fontStyle_body;
						border: $baseColor_black 0.015rem solid;
					}

					input:focus {
						border-radius: 1px;
					}

					::placeholder,
					::-ms-input-placeholder {
						font-size: $fontSize_normal;
						color: $baseColor_black;
					}

					button {
						width: 115px;
						border: none;
						padding: 0.75rem 1rem;
						letter-spacing: 0.1rem;
						text-transform: uppercase;
						color: $baseColor_white;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_body;
						background-color: $baseColor_black;
						border: $baseColor_black 0.015rem solid;
					}

					button:hover {
						transition: all 0.2s ease-in-out;
						color: $baseColor_black;
						background-color: $baseColor_white;
					}
				}

				.socialLinks {
					display: flex;
					padding: 1rem;
					margin: auto 0;

					justify-content: space-between;

					a {
						color: $baseColor_black;
						text-decoration: none;
						font-size: $fontSize_medium;
					}

					a:hover {
						color: $fadedPink;
					}
				}
			}
		}

		.middleSection {
			.content {
				display: grid;
				padding: 1rem 0;
				grid-template-columns: repeat(4, 1fr);
				grid-column-gap: 1.75rem;
				border-top: $baseColor_lightGrey 0.015rem solid;

				.links {
					display: flex;
					margin-top: 1rem;
					flex-direction: column;
					grid-row-gap: 0.75rem;

					h2 {
						text-transform: uppercase;
						color: $baseColor_black;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a {
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a:hover {
						color: $baseColor_black;
					}
				}
			}
		}

		.bottomSection {
			margin-top: 2rem;
			border-top: $baseColor_lightGrey 0.015rem solid;

			.topSide {
				display: flex;
				padding: 1rem;
				justify-content: center;

				h2 {
					padding: 0 10px;
					margin: auto 0;

					color: $baseColor_black;
					font-size: $fontSize_xSmall;
					font-family: $fontStyle_header;
				}
			}

			.bottomSide {
				margin-bottom: 1rem;

				border-top: $baseColor_lightGrey 0.015rem solid;

				ul {
					display: flex;
					padding: 1rem 0;
					justify-content: center;
					grid-column-gap: 1rem;

					a {
						margin: auto 0;
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a:hover {
						color: $baseColor_black;
					}
				}

				.copyright {
					margin: 0 auto;

					h5,
					a {
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a {
						margin: auto 0;

						span {
							color: $fadedPink;

							&:hover {
								transition: all 1s;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}

// <========== FOOTER DARK MODE ==========>
.footerDark {
	padding: 1rem 0;
	padding-top: 5rem;
	background-color: $baseColor_black;

	.content {
		.topSection {
			.content {
				display: grid;
				padding: 1rem 0;
				grid-template-columns: repeat(3, 1fr);
				grid-column-gap: 1.5rem;
				border-top: none;

				.emailSignUp {
					display: flex;
					padding: 0 0.5rem;
					flex-direction: column;

					h2 {
						color: $baseColor_white;
						font-size: $fontSize_normal;
						font-family: $fontStyle_header;
					}

					p {
						margin-top: 1rem;
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_body;
					}
				}

				.signUp {
					margin: auto 0;
					display: flex;

					input {
						width: 350px;
						height: 100%;
						padding: 0.5rem;
						padding-top: 0.75rem;
						color: $baseColor_white;
						font-size: $fontSize_small;
						font-family: $fontStyle_body;
						border: $baseColor_black 0.015rem solid;
					}

					input:focus {
						border-radius: 1px;
					}

					::placeholder,
					::-ms-input-placeholder {
						font-size: $fontSize_normal;
						color: $baseColor_white;
					}

					button {
						width: 115px;
						border: none;
						padding: 0.75rem 1rem;
						letter-spacing: 0.1rem;
						text-transform: uppercase;
						color: $baseColor_black;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_body;
						background-color: $baseColor_white;
						border: $baseColor_white 0.015rem solid;
					}

					button:hover {
						transition: all 0.2s ease-in-out;
						color: $baseColor_white;
						background-color: $baseColor_black;
					}
				}

				.socialLinks {
					display: flex;
					padding: 1rem;
					margin: auto 0;

					justify-content: space-between;

					a {
						color: $baseColor_lightGrey;
						text-decoration: none;
						font-size: $fontSize_medium;
					}

					a:hover {
						color: $fadedPink;
					}
				}
			}
		}

		.middleSection {
			.content {
				display: grid;
				padding: 1rem 0;
				grid-template-columns: repeat(4, 1fr);
				grid-column-gap: 1.75rem;
				border-top: $baseColor_lightGrey 0.015rem solid;

				.links {
					display: flex;
					margin-top: 1rem;
					flex-direction: column;
					grid-row-gap: 0.75rem;

					h2 {
						text-transform: uppercase;
						color: $baseColor_white;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a {
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a:hover {
						color: $baseColor_lightGrey;
					}
				}
			}
		}

		.bottomSection {
			margin-top: 2rem;
			border-top: $baseColor_lightGrey 0.015rem solid;

			.topSide {
				display: flex;
				padding: 1rem;
				justify-content: center;

				h2 {
					padding: 0 10px;
					margin: auto 0;

					color: $baseColor_white;
					font-size: $fontSize_xSmall;
					font-family: $fontStyle_header;
				}
			}

			.bottomSide {
				margin-bottom: 1rem;

				border-top: $baseColor_lightGrey 0.015rem solid;

				ul {
					display: flex;
					padding: 1rem 0;
					justify-content: center;
					grid-column-gap: 1rem;

					a {
						margin: auto 0;
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a:hover {
						color: $baseColor_lightGrey;
					}
				}

				.copyright {
					margin: 0 auto;

					h5,
					a {
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a {
						margin: auto 0;

						span {
							color: $fadedPink;

							&:hover {
								transition: all 1s;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
