// Imports
@import "./fonts";
@import "./colors";

// Components Styling
@import "./components/ourProcess";
@import "./components/contactBanner";
@import "./components/ContactInfoMap";
@import "./components/ContactInfo/_ContactInfo.scss";
@import "./components/WeddingDressesAndBridal/ContactInfo.scss";

// Pages Styling
@import "./pages/ourStory";
@import "./pages/_AlterationsRepairs.scss";
@import "./pages/SuitsOxfordShirts/_suitsOxfordShirts";
@import "./pages/WeddingDressesAndBridal/_WeddingDressesBridal";
@import "./pages/LaundryAndDryCleaning/_LaundryDryCleaning";
@import "./pages/LaundryAndDryCleaning/pages/_IndividualService";
@import "./pages/LaundryAndDryCleaning/pages/_businessService";

// <========== NAVIGATION ==========>
.Navbar {
	padding: 0.5rem 0;
	border-bottom: $secondary_fadedPink 0.2rem solid;

	.content {
		.topSection {
			ul {
				display: flex;
				margin: auto 0;
				grid-column-gap: 1rem;
				justify-content: right;

				a,
				h2 {
					margin: auto 0;
					color: $baseColor_lightGrey;
					font-size: $fontSize_xSmall;
					font-family: $fontStyle_header;
				}

				a:hover {
					color: $baseColor_black;
				}

				.flag {
					display: flex;
					justify-content: center;

					h2 {
						margin: auto 0;
						padding: 0 10px;
					}
				}
			}
		}

		.mainSection {
			display: flex;
			justify-content: space-between;

			.title {
				margin: auto 0;

				a {
					font-weight: 700;
					text-transform: uppercase;
					color: $secondary_fadedPink;
					font-size: $fontSize_normal;
					font-family: $fontStyle_option1;
				}

				a:hover {
					color: $secondary_fadedPink;
				}
			}

			ul {
				display: flex;
				padding: 0.75rem 0;
				margin: auto 0;
				justify-content: center;
				grid-column-gap: 1rem;

				a {
					padding: 0 10px;
					margin: auto 0;
					color: $baseColor_lightGrey;
					font-size: $fontSize_xSmall;
					font-family: $fontStyle_header;
				}

				a:hover {
					color: $baseColor_black;
				}
			}
		}
	}

	.borderDivider {
		margin: 0.5rem 0;
		border-bottom: $baseColor_lightGrey 0.015rem solid;
	}
}

// <========== HERO ==========>
.backgroundImage {
	height: 30rem;
	display: flex;
	align-items: center;
	background: url("/img/dress-dry-cleaning.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.content {
		display: flex;
		justify-content: center;

		.title {
			padding: 1.5rem 2rem;

			h2 {
				color: $baseColor_white;
				font-size: $fontSize_6XL;
				font-family: $fontStyle_option1;
			}

			h5 {
				margin-top: 1rem;
				color: $baseColor_white;
				font-size: $fontSize_large;
				font-family: $fontStyle_header;
			}
		}
	}
}

// <========== MAIN SERVICES ==========>
.introSection {
	padding: 5rem 0;

	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.description {
			padding: 2.5rem;
			text-align: left;

			h2,
			h5,
			p {
				color: $baseColor_black;
			}

			h2 {
				margin-bottom: 1rem;
				font-size: $fontSize_2XL;
				font-family: $fontStyle_option1;
			}

			h5 {
				font-weight: 600;
				margin-top: 1rem;
				text-transform: uppercase;
				font-size: $fontSize_xSmall;
				color: $secondary_fadedPink;
				font-family: $fontStyle_header;
			}

			p {
				width: 40rem;
				margin: 0 auto;
				padding: 0.5rem 0;
				font-size: $fontSize_normal;
				font-family: $fontStyle_body;
			}

			.contactBannerButton {
				margin-top: 1.5rem;

				a {
					button {
						border: none;
						outline: none;
						padding: 0.25rem 0;
						letter-spacing: 0.1rem;
						background: transparent;
						text-transform: uppercase;
						font-size: $fontSize_small;
						color: $secondary_fadedPink;
						border-bottom: $secondary_fadedPink 0.1rem solid;

						&:hover {
							transition: all 0.2s;
							color: $secondary_fadedPink3;
							border-bottom: $secondary_fadedPink3 0.1rem solid;
						}
					}
				}
			}
		}

		.image {
			img {
				width: 100%;
				height: 400px;
				border-radius: 50%;
				object-fit: contain;
			}
		}
	}
}

/* ===== SPECIAL OCCASIONS =====*/
.specialOccasions {
	padding: 1rem 0;
	background-color: $baseColor_lightGrey;

	.content {
		.title {
			padding: 2.5rem 0;

			h2 {
				color: $baseColor_black;
				font-size: $fontSize_4XL;
				font-family: $fontStyle_option1;
			}

			h5 {
				margin-top: 1rem;
				color: $baseColor_black;
				font-size: $fontSize_normal;
				font-family: $fontStyle_header;
			}
		}

		.innerContent {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 1rem;

			.productDisplay {
				.content {
					bottom: 100px;
					padding: 0 1rem;
					position: relative;
					margin-left: 1.5rem;

					h2 {
						margin-bottom: 1rem;
						color: $baseColor_white;
						font-size: $fontSize_normal;
						font-family: $fontStyle_option1;
					}

					.shopButton {
						width: fit-content;
						padding: 0.5rem 2rem;
						border-radius: 50px;
						background-color: $baseColor_white;

						a {
							text-decoration: none;
							color: $baseColor_black;
							font-size: $fontSize_normal;
							font-family: $fontStyle_option1;
						}

						a:hover {
							color: $baseColor_lightGrey;
						}
					}
				}
			}
		}
	}
}

/* ===== HOTEL & RESTAURANT =====*/
.hotelAndRestaurant {
	background-color: $baseColor_black;

	.content {
		.title {
			padding: 2rem 0;

			padding-top: 5rem;

			h2 {
				color: $baseColor_white;
				font-size: $fontSize_4XL;
				font-family: $fontStyle_option1;
			}

			h5 {
				margin-top: 1rem;
				color: $baseColor_white;
				font-size: $fontSize_normal;
				font-family: $fontStyle_header;
			}
		}

		.gridDisplay {
			display: grid;
			padding: 2rem 0;
			grid-template-columns: repeat(4, 1fr);
			grid-column-gap: 1rem;

			.content {
				a {
					img {
						&:hover {
							transition: all 1s;
							transform: scale(1.02);
						}
					}
				}

				.header {
					margin-top: 1rem;
					a {
						color: $baseColor_white;
						font-size: $fontSize_normal;
						font-family: $fontStyle_body;
					}
				}
			}
		}
	}
}

// <!--===== Background Image Divider =====-->
.backgroundImageDivider {
	height: 25rem;
	background: url("/img/david-barnes-dry-cleaners-laundry-ipswich-road-cardiff.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* ===== OUT STORE LOCATION =====*/
.storeLocation {
	.title {
		padding: 2.5rem 0;

		h2 {
			color: $baseColor_black;
			font-size: $fontSize_4XL;
			font-family: $fontStyle_option1;
		}

		h5 {
			margin-top: 1.5rem;
			color: $baseColor_black;
			font-size: $fontSize_normal;
			font-family: $fontStyle_option1;
		}
	}

	.storeMap {
	}
}

// <========== FOOTER ==========>
.footer {
	margin-top: 5rem;
	padding: 1rem 0;
	border-top: $baseColor_lightGrey 0.015rem solid;

	.content {
		.topSection {
			.content {
				display: grid;
				padding: 1rem 0;
				grid-template-columns: repeat(3, 1fr);
				grid-column-gap: 1.5rem;

				.emailSignUp {
					display: flex;
					padding: 0 0.5rem;
					flex-direction: column;

					h2 {
						color: $baseColor_black;
						font-size: $fontSize_normal;
						font-family: $fontStyle_header;
					}

					p {
						margin-top: 1rem;
						color: $baseColor_black;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_body;
					}
				}

				.signUp {
					margin: auto 0;
					display: flex;

					input {
						width: 350px;
						height: 100%;
						padding: 0.5rem;
						padding-top: 0.75rem;
						color: $baseColor_black;
						font-size: $fontSize_small;
						font-family: $fontStyle_body;
						border: $baseColor_black 0.015rem solid;
					}

					input:focus {
						border-radius: 1px;
					}

					::placeholder,
					::-ms-input-placeholder {
						font-size: $fontSize_normal;
						color: $baseColor_black;
					}

					button {
						width: 115px;
						border: none;
						padding: 0.75rem 1rem;
						letter-spacing: 0.1rem;
						text-transform: uppercase;
						color: $baseColor_white;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_body;
						background-color: $baseColor_black;
						border: $baseColor_black 0.015rem solid;
					}

					button:hover {
						transition: all 0.2s ease-in-out;
						color: $baseColor_black;
						background-color: $baseColor_white;
					}
				}

				.socialLinks {
					display: flex;
					padding: 1rem;
					margin: auto 0;

					justify-content: space-between;

					a {
						color: $baseColor_black;
						text-decoration: none;
						font-size: $fontSize_medium;
					}

					a:hover {
						color: $secondary_fadedPink;
					}
				}
			}
		}

		.middleSection {
			.content {
				display: grid;
				padding: 1rem 0;
				grid-template-columns: repeat(4, 1fr);
				grid-column-gap: 1.75rem;
				border-top: $baseColor_lightGrey 0.015rem solid;

				.links {
					display: flex;
					margin-top: 1rem;
					flex-direction: column;
					grid-row-gap: 0.75rem;

					h2 {
						text-transform: uppercase;
						color: $baseColor_black;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a {
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a:hover {
						color: $baseColor_black;
					}
				}
			}
		}

		.bottomSection {
			margin-top: 2rem;
			border-top: $baseColor_lightGrey 0.015rem solid;

			.topSide {
				display: flex;
				padding: 1rem;
				justify-content: center;

				h2 {
					padding: 0 10px;
					margin: auto 0;

					color: $baseColor_black;
					font-size: $fontSize_xSmall;
					font-family: $fontStyle_header;
				}
			}

			.bottomSide {
				margin-bottom: 1rem;

				border-top: $baseColor_lightGrey 0.015rem solid;

				ul {
					display: flex;
					padding: 1rem 0;
					justify-content: center;
					grid-column-gap: 1rem;

					a {
						margin: auto 0;
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a:hover {
						color: $baseColor_black;
					}
				}

				.copyright {
					margin: 0 auto;

					h5,
					a {
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a {
						margin: auto 0;

						span {
							color: $secondary_fadedPink;

							&:hover {
								transition: all 1s;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}

// <========== FOOTER DARK MODE ==========>
.footerDark {
	padding: 1rem 0;
	padding-top: 5rem;
	background-color: $baseColor_black;

	.content {
		.topSection {
			.content {
				display: grid;
				padding: 1rem 0;
				grid-template-columns: repeat(3, 1fr);
				grid-column-gap: 1.5rem;
				border-top: none;

				.emailSignUp {
					display: flex;
					padding: 0 0.5rem;
					flex-direction: column;

					h2 {
						color: $baseColor_white;
						font-size: $fontSize_normal;
						font-family: $fontStyle_header;
					}

					p {
						margin-top: 1rem;
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_body;
					}
				}

				.signUp {
					margin: auto 0;
					display: flex;

					input {
						width: 350px;
						height: 100%;
						padding: 0.5rem;
						padding-top: 0.75rem;
						color: $baseColor_white;
						font-size: $fontSize_small;
						font-family: $fontStyle_body;
						border: $baseColor_black 0.015rem solid;
					}

					input:focus {
						border-radius: 1px;
					}

					::placeholder,
					::-ms-input-placeholder {
						font-size: $fontSize_normal;
						color: $baseColor_white;
					}

					button {
						width: 115px;
						border: none;
						padding: 0.75rem 1rem;
						letter-spacing: 0.1rem;
						text-transform: uppercase;
						color: $baseColor_black;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_body;
						background-color: $baseColor_white;
						border: $baseColor_white 0.015rem solid;
					}

					button:hover {
						transition: all 0.2s ease-in-out;
						color: $baseColor_white;
						background-color: $baseColor_black;
					}
				}

				.socialLinks {
					display: flex;
					padding: 1rem;
					margin: auto 0;

					justify-content: space-between;

					a {
						color: $baseColor_lightGrey;
						text-decoration: none;
						font-size: $fontSize_medium;
					}

					a:hover {
						color: $secondary_fadedPink;
					}
				}
			}
		}

		.middleSection {
			.content {
				display: grid;
				padding: 1rem 0;
				grid-template-columns: repeat(4, 1fr);
				grid-column-gap: 1.75rem;
				border-top: $baseColor_lightGrey 0.015rem solid;

				.links {
					display: flex;
					margin-top: 1rem;
					flex-direction: column;
					grid-row-gap: 0.75rem;

					h2 {
						text-transform: uppercase;
						color: $baseColor_white;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a {
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a:hover {
						color: $baseColor_lightGrey;
					}
				}
			}
		}

		.bottomSection {
			margin-top: 2rem;
			border-top: $baseColor_lightGrey 0.015rem solid;

			.topSide {
				display: flex;
				padding: 1rem;
				justify-content: center;

				h2 {
					padding: 0 10px;
					margin: auto 0;

					color: $baseColor_white;
					font-size: $fontSize_xSmall;
					font-family: $fontStyle_header;
				}
			}

			.bottomSide {
				margin-bottom: 1rem;

				border-top: $baseColor_lightGrey 0.015rem solid;

				ul {
					display: flex;
					padding: 1rem 0;
					justify-content: center;
					grid-column-gap: 1rem;

					a {
						margin: auto 0;
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a:hover {
						color: $baseColor_lightGrey;
					}
				}

				.copyright {
					margin: 0 auto;

					h5,
					a {
						color: $baseColor_lightGrey;
						font-size: $fontSize_xSmall;
						font-family: $fontStyle_header;
					}

					a {
						margin: auto 0;

						span {
							color: $secondary_fadedPink;

							&:hover {
								transition: all 1s;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
